@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To  Amr Ali
        <p>Learn about <a href="https://www.facebook.com/profile.php?id=100035185720619&mibextid=ZbWKwL">building FaceBook Profile</a>.</p>
</div>
