@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> @Model.RoleName Edit </h1>
<br />
<form asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="col-form-label" asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <a asp-action="AddOrRemoveUsers" class="btn btn-success" asp-route-roleId="@Model.Id">Add Or Remove Users</a>
    <br>
    <br>
    <input type="submit" value="Save" class="btn btn-primary" /> |
 
    <a asp-controller="Role" asp-action="Index" class="btn btn-light">Back To List</a>

</form>
<

@section ValidationScriptSection {
    <partial Name="_ValidationScriptsPartial" />

    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
}


