@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="ResetPassword" method="post">
			<input class="text" asp-for="NewPassword" placeholder="New Password">
			<span asp-validation-for="NewPassword"></span>
			<br />
			<input class="text" asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
			<span asp-validation-for="ConfirmNewPassword"></span>
			<br />
			<input type="submit" value="Reset">
		</form>
		<p>Do not You Have An Account?<a asp-action="Register">SignUp Now!</a></p>
		<p> <a asp-action="ForgetPassword">Forget Password</a></p>
	</div>
</div>
@section ValidationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}



